@mixin LangContainerStyles{
    @include xs{
        
    }
}

@mixin rTabContentStyles{
    @include xs{
        gap:10px;
        margin: 10px 0px;
    }
    @include sm{
        gap:15px;
        margin: 15px 0px;
    }
 

}